<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,601;1,601&display=swap');

* {

  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: 0.2s linear;

}

body {
  box-sizing: border-box;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://i.ibb.co/2hbLyTq/code-1076536.jpg');



}

.destaque {
  margin: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.apresetacao__conteudo__tec {
  color: aqua;
}

.apresetacao__conteudo__nome {
  color: aqua;
  font-family: Krona One, sans-serif;
  font-size: 28px;

}

.apresetacao__conteudo__paragrafo {
  color: white;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;

}

.texto {
  display: flex;
  justify-content: center;
  /* Alinha os itens verticalmente */
  align-items: center;
  /* Centraliza os itens horizontalmente */
  padding: 20px;
  gap: 50px;
  /* Espaçamento entre os itens */
}


.apresetacao__botao {
  display: flex;
  gap: 10px;
  margin-top: 10PX;

}

.apresetacao__botao a:hover {
  color: rgb(0, 225, 255);
  border-bottom: 1px solid gray;
  background-color: #f0f0f0
}

.button {

  background-color: aqua;
  width: 275px;
  text-align: center;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 599;
  text-decoration: none;
  padding: 18px 0;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: "Montserrat";

}

.img {
  border-bottom: 5px solid #cec7c78f;
  border-radius: 15px;
  max-width: 100%;
  
  width: 400px;  /* Define a largura da imagem como 200 pixels */
  height: 400px; /* Define a altura da imagem como 150 pixels */
}



header {

  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid #2e2e2e;

  background-size: cover;
  padding: 1px;
}


.buttonIni {
  color: aliceblue;
  font-family: sans-serif;


}

.navBar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 2;
}

.navBar a:hover {
  color: rgb(0, 225, 255);
 
}

.carrosel {
  display: flex;

  gap: 20px;
  width: 100%;
  height: 50px;
  position: relative;
  mask-image: linear-gradient(to right,
      transparent #000 10% 90%,
      transparent);


}

.item {

  width: 100px;
  height: 50px;
  position: absolute;
  left: 100%;
  animation: autoRun 10s linear infinite;
  animation-delay: var(--delay);
  cursor: pointer;
}

.item img {

  width: 100px;
}

.carrosel:hover .item {
  animation-play-state: paused;
  filter: grayscale(1)
}

.carrosel .item:hover {
  filter: grayscale(0)
}

@keyframes autoRun {
  from {
    left: 100%;
  }

  to {
    left: -100px;
  }
}


.clima{
  display: flex;            /* Define o contêiner como flexível */
  flex-direction: column;   /* Alinha os itens em uma coluna (verticalmente) */
  align-items:row;    /* Alinha os itens ao final do contêiner no eixo transversal */
  font-family: sans-serif;  /* Define a fonte */
  color: #f0f0f0;           /* Define a cor do texto */
  justify-content: flex-end; /* Alinha os itens ao final do contêiner no eixo principal */
  font-size: 12px;
  opacity: 0.6;

}

.clima2{
  display: flex;
  gap: 10px;
  font-weight: 550;
  text-transform: uppercase;
 
  ;}
=======
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,601;1,601&display=swap');

* {

  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: 0.2s linear;

}

body {
  box-sizing: border-box;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://i.ibb.co/2hbLyTq/code-1076536.jpg');

 


}

.destaque {
  margin: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.apresetacao {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 620px;

}

.apresetacao__conteudo__tec {
  color: aqua;
}

.apresetacao__conteudo__nome {
  color: aqua;
  font-family: Krona One, sans-serif;
  font-size: 28px;

}

.apresetacao__conteudo__paragrafo {
  color: white;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;

}

.apresetacao__botao {
  display: flex;
  justify-content: space-between;
  margin-top: 10PX;

}
.apresetacao__botao a:hover {
  color: rgb(0, 225, 255);
  border-bottom: 1px solid gray;
  background-color: #f0f0f0

}

.button {

  background-color: aqua;
  width: 275px;
  text-align: center;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 599;
  text-decoration: none;
  padding: 18px 0;
  font-family: "Montserrat" ;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: "Montserrat" ;

}

.img {
  border-bottom: 5px solid #cec7c78f;
  border-radius: 15px;
}




header {

  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid #2e2e2e;
  padding: 30px;
  background-size: cover;
  
}


.buttonIni {
  color: aliceblue;
  font-family: sans-serif;
  

}

.navBar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding-top: 10px;
  padding-bottom:10px;
  z-index: 2;
}

.navBar a:hover {
  color: rgb(0, 225, 255);
  border-bottom: 1px solid gray;
}
.carrosel {
  display: flex;

  gap: 20px;
  width: 100%;
  height: 50px;
  position: relative;
  mask-image: linear-gradient(to right,
      transparent #000 10% 90%,
      transparent);


}

.item {

  width: 100px;
  height: 50px;
  position: absolute;
  left: 100%;
  animation: autoRun 10s linear infinite;
  animation-delay: var(--delay);
  cursor: pointer;
}

.item img {
  
  width: 100px;
}

.carrosel:hover .item {
  animation-play-state: paused;
  filter: grayscale(1)
}

.carrosel .item:hover {
  filter: grayscale(0)
}

@keyframes autoRun {
  from {
    left: 100%;
  }

  to {
    left: -100px;
  }
}
>>>>>>> f206885f235041c287569717c116228904ea6c2e
